/* Efecto de zoom en las imágenes */
.zoomable {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomable:hover {
  transform: scale(1.1); /* Zoom al pasar el puntero */
}

/* Estilos del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.modal-content {
  position: relative;
  max-width: 90%; /* La imagen no superará el 90% del ancho de la pantalla */
  max-height: 90%; /* La imagen no superará el 90% de la altura de la pantalla */
  overflow: hidden; /* Asegura que no haya desbordamiento */
  left: 400px;
}

.modal-content img {
  width: auto; /* Ajusta automáticamente el ancho */
  height: auto; /* Ajusta automáticamente la altura */
  max-width: 35%; /* No supera el ancho máximo del contenedor */
  max-height: 35%; /* No supera la altura máxima del contenedor */
  border-radius: 5px;
  object-fit: contain; /* Mantiene la proporción de la imagen */
}
/* Botón de cerrar */
.modal-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

/* Cambia el cursor al pasar por encima del modal */
.modal-overlay:hover {
  cursor: pointer;
}
/* Estilo para imágenes de productos */
.product-image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.product-image:hover {
  transform: scale(1.1); /* Ampliar ligeramente la imagen al pasar el mouse */
}
.product-card:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* Efecto de texto brillante */
.shiny-text {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffe0, #2a00ff, #d200ff, #ff008b);
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shiny-gradient 5s linear infinite;
  text-align: center;
}

/* Animación del gradiente */
@keyframes shiny-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilo base para los iconos sociales */
.social-icon {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Efecto al pasar el puntero */
.social-icon:hover {
  transform: translateY(-5px) scale(1.2);
  color: #ffd700; /* Cambiar el color al pasar el puntero */
}

