/* Estilos del banner */
.banner-section {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  animation: fadeInText 3s ease forwards;
}

@keyframes fadeInText {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

/* Efecto de desvanecimiento y desplazamiento */
.fade-right {
opacity: 0;
transform: translateX(-50px);
animation: fadeInRight 1s ease forwards;
}

.fade-left {
opacity: 0;
transform: translateX(50px);
animation: fadeInLeft 1s ease forwards;
}

@keyframes fadeInRight {
to {
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes fadeInLeft {
to {
  opacity: 1;
  transform: translateX(0);
}
}

/* Estilo para el texto con efecto de máquina de escribir */
.section-text {
font-family: 'Arial', sans-serif;
font-size: 1.1rem;
color: #333;
white-space: pre-wrap; /* Mantiene los saltos de línea */
overflow: hidden;      /* Oculta el texto sobrante */
border-right: 2px solid #333;
animation: blink 0.7s step-end infinite; /* Parpadeo del cursor */
}

@keyframes blink {
from {
  border-right-color: rgb(14, 14, 14);
}
to {
  border-right-color: transparent;
}
}

/* Estilos generales de la sección */
.content-section {
  padding: 4rem 2rem;
  background-color: #fff; /* Un amarillo cálido y apagado */
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.section-text {
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
